extends layout

block content

    h1 Admin Dashboard
    form(action="/admin/users" method="get")
      button(type="submit") Ver Todos los Usuarios
    form(action="/admin/events" method="get")
      button(type="submit") Eventos
