main
  .banner
    h2 La plataforma que te conecta con el mundo
    input(type="text" placeholder="Buscar eventos..." id="searchInput")
    button(onclick="searchEvents()") Buscar
    button(onclick="showAllEvents()") Ver todos los eventos

  .results#resultsContainer
