doctype html

html
  head
    title Crear Anuncio
    link(rel="stylesheet", href="/css/styles.css")
  body
    .create-ad-form-container
      h1.create-ad-title Ingrese los datos del evento

      form.create-ad-form(action="/ads" method="POST")
        div
          input(type="text" id="title" name="title" placeholder="Título" required)

        div
          input(type="text" id="subtitle" name="subtitle" placeholder="Subtítulo" required)

        div
          textarea(id="description" name="description" placeholder="Descripción" required)

        div
          input(type="url" id="urlWeb" name="urlWeb" placeholder="URL del sitio web" required)

        div
          input(type="text" id="imgSrc" name="imgSrc" placeholder="Seleccionar Imagen" required)

        div
          button(type="submit") Enviar
