doctype html

html
  head
    title Crear Anuncio
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@100;200;300;400;500;600;700;800;900&display=swap")

  body
    a(href="/admin/dashboard") Volver a Inicio
    .create-ad-form-container
      h1.create-ad-title Ingrese los datos del evento

      form.create-ad-form(action="/ads" method="POST")
        div
          input(type="text" id="title" name="title" placeholder="Título" required)

        div
          input(type="text" id="subtitle" name="subtitle" placeholder="Subtítulo" required)

        div
          textarea(id="description" name="description" placeholder="Descripción" required)

        div
          input(type="url" id="urlWeb" name="urlWeb" placeholder="URL del sitio web" required)

        div
          input(type="text" id="imgSrc" name="imgSrc" placeholder="Seleccionar Imagen" required)

        div
          button(type="submit") Enviar
