header
  .navbar
    img(src="/assets/img/connectic4_b.png" alt="Connectic4 Logo" class="logo")
    .auth-buttons
      button.login-button(onclick="login()") Iniciar sesión
      button.register-button(onclick="register()") Registrarse