
doctype html
html
	head
		title Connectic4
		link(rel="stylesheet", href="/css/styles.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@100;200;300;400;500;600;700;800;900&display=swap")
		script(src="/js/script.js", defer)
	body
		header
			.navbar
				img(src="/assets/img/connectic4_b.png" alt="Connectic4 Logo" class="logo")
				include formBuscar.pug
				.auth-buttons
					a.login-button(href="/login") Iniciar sesión
					a.register-button(href="/register") Registrarse

		main
			.banner
				.banner-content
					h2 La plataforma que te conecta con el mundo
					button(onclick="showAllEvents()") Ver todos los eventos

			// Contenedor para las tarjetas de eventos
			.results#resultsContainer

				// Verifica si hay eventos para mostrar
				if ads && ads.length > 0
					include listAds.pug

				else
					p No hay eventos disponibles en este momento.

		include footer.pug
