doctype html
html
  head
    title Sistema de Roles
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="/css/modal.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@100;200;300;400;500;600;700;800;900&display=swap")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css")
    script(src="/js/script.js", defer)
  body
    .main-container
      nav
        ul.navbar-list
          if role === 'admin'
            //- li: a(href='/admin/dashboard') Panel de Administración
          else if role === 'user'
            li: a(href='/user/dashboard') Panel de Usuario
          li: a(href='/logout' class="logout-button") Cerrar sesión
        img(src="/assets/img/connectic4_b.png" alt="Connectic4 Logo" class="logo")

    #boxModal.modal_negro
      .modal
        div
          label(for="title") Título:
          input(type="text" id="title" name="title" required)

        div
          label(for="subtitle") Subtítulo:
          input(type="text" id="subtitle" name="subtitle" required)

        div
          label(for="description") Descripción:
          textarea(id="description" name="description" required)

        div
          label(for="urlWeb") URL del sitio web:
          input(type="url" id="urlWeb" name="urlWeb" required)

        div
          label(for="imgSrc") Seleccionar Imagen:
          input(type="text" id="imgSrc" name="imgSrc" required)

        div
          button(type="button" onclick="MO_Modal('off')") Cancelar
          button.btn_update(type="button") Modificar
          p#txtModal Mensaje

  block content
