doctype html
html
	head
	title Sistema de Roles
	link(rel="stylesheet", href="/css/styles.css")
	script(src="/js/script.js", defer)
	
	body
		nav
			ul
				if role === 'admin'
					li: a(href='/admin/dashboard') Panel de Administración
				else if role === 'user'
					li: a(href='/user/dashboard') Panel de Usuario
				li: a(href='/logout') Cerrar sesión

	block content
