doctype html
html
  head
<<<<<<< Updated upstream
    title Sistema de Roles
  body
    nav
      ul
        if role === 'admin'
          li: a(href='/admin/dashboard') Panel de Administración
        else if role === 'user'
          li: a(href='/user/dashboard') Panel de Usuario
        li: a(href='/logout') Cerrar sesión

    block content
=======
    title Mi Sitio Web
  body
    // Formulario de búsqueda que se enviará a /search
    form(action="/results" method="get")
      input(type="text" name="q" placeholder="Buscar...")
      button(type="submit") Buscar
    block content
>>>>>>> Stashed changes
