doctype html
html
  head
    title Lista de Usuarios
    link(rel="stylesheet", href="/css/styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@100;200;300;400;500;600;700;800;900&display=swap")

  body
    a(href="/admin/dashboard") Volver a Inicio
    h1.admin-title Usuarios Registrados

    .users-table-container
      table.users-table
        thead
          tr
            th Nombre de Usuario
            th Correo Electrónico
            th Acciones
        tbody
          each user in users
            tr
              td #{user.username}
              td #{user.email}
              td.actions
                a(href=`/admin/users/edit/${user.id}` class="edit-button")
                  // Icono de lápiz para editar
                  svg(width="35" height="35" viewBox="0 0 24 24")
                    path(d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34a.9959.9959 0 0 0-1.41 0L15 4.91l3.75 3.75 1.96-1.96z")

                form(action=`/admin/users/delete/${user.id}` method="post" style="display:inline")
                  button(type="submit" class="delete-button")
                    // Icono de papelera para eliminar
                    svg(width="35" height="35" viewBox="0 0 24 24")
                      path(d="M3 6l3 18h12l3-18h-18zm17-2v-2h-4.5l-1-1h-5l-1 1h-4.5v2h16z")
