extends layout 

block content
	h1 Panel de Usuario
  
	// Contenedor para las tarjetas de eventos
	.results#resultsContainer

		if ads && ads.length > 0
			include listAds.pug

		else
			p No hay eventos existentes en este momento.

