body {
  font-family: 'Funnel Display', sans-serif;
  background-color: #000;
  color: #fff;
  margin: 0;
  padding: 0;
  background-image: url('/assets/img/cruz.png'); 
  background-repeat: repeat;
  background-position: top left;
  background-size: 30px auto;
}

.logo {
  width: 250px; 
  height: auto; 
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.navbar {
  background-color: #000;
  color: #fff;
  padding: 10px 20px;
  background-image: url('/assets/img/cruz.png'); 
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-size: 30px auto;
}

.navbar-list {
  list-style-type: none; 
}

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

/* campo de entrada de búsqueda */
.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
  width: 200px;
}

.search-button {
  width: 40px;  
  height: 40px; 
  background-color: #000;
  color: #00ff80;
  border: 1px solid #00ff80;
  border-radius: 50%; 
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0; 
}

.search-button svg {
  width: 50%; 
  height: 50%;
  display: block; 
}

.search-button:hover {
  opacity: 0.6;
}


.register-button {
  text-decoration: none;
  background-color: #00ff80;
  border: none;
  padding: 10px 20px;
  color: #000;
  cursor: pointer;
  margin-left: 10px;
  font-size: 1em;
  border-radius: 5px;
}

.register-button:hover {
  opacity: 0.6;
}

.login-button {
  text-decoration: none;
  background-color: #000; 
  color: #00ff80; 
  border: 1px solid #00ff80; 
  padding: 8px 18px;
  cursor: pointer;
  font-size: 1em;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s; 
}

.login-button:hover {
  background-color: #00cc66c6; 
  color: #000; 
}


.logout-button {
  background-color: #000; 
  color: #ff5f1f;
  border: 1px solid #ff5f1f; 
  padding: 8px 18px;
  border-radius: 5px;
  font-size: 1em;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.logout-button:hover {
  background-color: #ff5f1fc4; 
  color: #000; 
  opacity: 0.8;
}

.main-container {
  text-align: center;
}

.login-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  color: #00ff80; 
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #333; 
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); 
}


.form-label {
  font-size: 1em;
  margin-bottom: 8px;
  color: #00ff80; 
}

.form-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #00ff80;
  border-radius: 5px;
  font-size: 1em;
  color: #000; 
  background-color: #fff; 
}

.form-input:focus {
  border-color: #00cc66; 
  outline: none;
}

.admin-title {
  font-size: 2em;
  font-weight: bold;
  color: #00ff80;
  text-align: center;
  margin-top: 20px;
}

.button-container {
  display: flex;
  justify-content: center; 
  gap: 20px; 
  margin-top: 20px;
}

.view-users-form, .create-events-form, .scraping-form {
  margin: 0; 
}

.view-users-button, .create-events-button {
  background-color: #000;
  color: #00ff80;
  padding: 10px 20px;
  font-size: 1em;
  border: 1px solid #00ff80;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.view-users-button:hover, .create-events-button:hover {
  background-color: #00cc66;
  color: #000;
}

.scraping-button {
  background-color: #000;
  color: #9ce2ff; 
  padding: 10px 20px;
  font-size: 1em;
  border: 1px solid #9ce2ff; 
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.scraping-button:hover {
  background-color: #9ce1ffd2; 
  color: #000; 
}

.admin-info {
  margin-top: 20px;
  padding: 15px;
  text-align: center;
  color: #fff;
}

.admin-role {
  font-size: 1.2em;
  color: #00ff80;
}

.admin-message {
  font-size: 1em;
  color: #ccc;
  margin-top: 10px;
}

a[href="/admin/dashboard"] {
  display: inline-block;
  margin: 20px 0;
  padding: 10px 20px;
  background-color: #000; 
  color: #00ff80; 
  text-decoration: none;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #00cc66; 
  transition: background-color 0.3s, color 0.3s;
}d

a[href="/admin/dashboard"]:hover {
  background-color: #00cc66; 
  color: #fff; 
}

/* contenedor del formulario de edición de usuario */
.edit-user-form-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px 30px;
  border-radius: 8px;
  background-color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.edit-user-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #00ff80;
  text-align: center;
  margin-bottom: 20px;
}

.success-message {
  color: #00cc66;
  font-weight: bold;
  text-align: center;
  margin-bottom: 15px;
}

.edit-user-form label {
  display: block;
  font-size: 1em;
  color: #00ff80;
  margin-bottom: 5px;
}

.edit-user-form input[type="text"],
.edit-user-form input[type="email"],
.edit-user-form input[type="password"],
.edit-user-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #00ff80;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  font-size: 1em;
}

.edit-user-form input[type="text"]:focus,
.edit-user-form input[type="email"]:focus,
.edit-user-form input[type="password"]:focus,
.edit-user-form select:focus {
  outline: none;
  border-color: #00cc66;
}

/* Botón de actualización de usuario */
.edit-user-form button[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #00ff80;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.edit-user-form button[type="submit"]:hover {
  background-color: #00cc66;
}

a.return-to-dashboard {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #000;
  color: #00ff80;
  text-decoration: none;
  font-size: 1em;
  border: 1px solid #00ff80;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

a.return-to-dashboard:hover {
  background-color: #00ff80;
  color: #000;
}

.create-ad-form-container {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px 30px;
  border-radius: 8px;
  background-color: #333;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.create-ad-title {
  font-size: 1.8em;
  font-weight: bold;
  color: #00ff80;
  text-align: center;
  margin-bottom: 20px;
}

.create-ad-form label {
  display: block;
  font-size: 1em;
  color: #00ff80;
  margin-bottom: 5px;
}

.create-ad-form input[type="text"],
.create-ad-form input[type="url"],
.create-ad-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #00ff80;
  border-radius: 5px;
  background-color: #222;
  color: #fff;
  font-size: 1em;
  resize: vertical; 
}

.create-ad-form input[type="text"]:focus,
.create-ad-form input[type="url"]:focus,
.create-ad-form textarea:focus {
  outline: none;
  border-color: #00cc66;
}

/* botón de envío del formulario */
.create-ad-form button[type="submit"] {
  width: 100%;
  padding: 10px 20px;
  background-color: #00ff80;
  color: #000;
  font-size: 1em;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-ad-form button[type="submit"]:hover {
  background-color: #00cc66;
}

/* tabla de usuarios */
.users-table-container {
  width: 80%; 
  margin: 20px auto; 
  border: 1px solid #333; 
  border-radius: 8px;
  overflow: hidden; 
}

.users-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.9em; 
  color: #fff;
  text-align: left;
  background-color: #1a1a1a; 
}

.users-table th, .users-table td {
  padding: 12px 15px;
}

.users-table th {
  background-color: #333; 
  color: #00ff80; 
  font-weight: bold;
}

.users-table tbody tr:nth-child(even) {
  background-color: #2a2a2a; 
}

.users-table tbody tr:nth-child(odd) {
  background-color: #1e1e1e; 
}

.users-table tbody tr:hover {
  background-color: #333; 
}

.actions {
  display: flex;
  gap: 10px; 
}

.edit-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
}

.edit-button svg {
  fill: #00ff80; 
}

.edit-button:hover {
  transform: scale(1.1); 
}

.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  transition: transform 0.2s;
}

.delete-button svg {
  fill: #ff4500; 
}

.delete-button:hover {
  transform: scale(1.1); 
}


#resultsContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  margin-top: 20px;
}

.no-events-message {
  font-size: 1em;
  color: #ccc;
  text-align: center;
}

.banner {
  position: relative;
  width: 100%;
  height: 50vh; 
  background: url('/assets/img/fondo.png') no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
}

.banner-content {
  position: absolute;
  top: 70%;
  left: 50px; 
  transform: translateY(-50%);
  text-align: left;
  max-width: 400px; 
}

.banner-content h2 {
  font-size: 3em;
  font-weight: bold;
  line-height: 1.2; 
  margin-bottom: 20px;
  color: #000;
  text-shadow: 2px 2px 4px rgba(252, 250, 250, 0.7);
}

.banner-content button {
  background-color: #000;
  border: 1px solid #00ff80;
  padding: 15px 25px;
  color: #fff;
  cursor: pointer;
  font-size: 1.2em;
  border-radius: 5px;
}

.banner-content button:hover {
  background-color: #00cc66; 
  color: #fff; 
}

.results {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Cuatro columnas en pantallas grandes */
  gap: 20px;
  padding: 20px;
  margin-top: -30px; /* Desplaza el contenedor hacia arriba para superponer al banner */
  z-index: 1; /* Asegura que las tarjetas estén encima del banner */
  position: relative; /* Necesario para que el z-index funcione correctamente */
} 


.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  color: #333;
  text-align: left;
}

.card:hover {
  transform: scale(1.02); 
}

.event-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 15px;
}

.card-title {
  font-size: 1.2em;
  font-weight: bold;
  color: #000;
  margin-bottom: 8px;
}

.card-details {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 8px;
}


.event-link {
  display: inline-block;
  color: #000;
  background-color: #00ff80;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9em;
  margin-top: 10px;
}

.event-link:hover {
  border: 1px solid #000; 
  background-color: #00ff8087; 
  opacity: 0.6;
}

.icon-container {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.delete-icon, .edit-icon, .favorite-icon {
  cursor: pointer;
  font-size: 1.2em;
  transition: color 0.3s;
}

.delete-icon:hover {
  color: #ff4500;
}

.edit-icon:hover {
  color: #00ff8087;
}

.favorite-icon:hover {
  color: gold;
}


/* Footer */
footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 1em;
  border-top: 1px solid #333;
}
@media (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }

  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .navbar img.logo {
    margin-bottom: 15px;
  }

  .search-form {
    margin: 15px 0;
  }

  .auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
  }

  .login-button,
  .register-button {
    padding: 8px 16px;
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .results {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 100%;
  }

  .navbar h1 {
    font-size: 1.5em;
  }

  .banner-content h2 {
    font-size: 2em;
  }

  .banner-content button {
    padding: 10px 18px;
    font-size: 0.9em;
  }

  .auth-buttons {
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
  }
}
